<div class="comments-section">
  <h5>Comments</h5>
  <ul class="list-group">
    <% commentss.forEach(comment => { %>
      <li class="list-group-item">
        <strong><%= comment.name %>:</strong> <%= comment.comment %>
      </li>
    <% }); %>
  </ul>
</div>
