<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/Style') %>
  <title>Dashboard</title>
</head>
<body>
  <%- include("./partials/Nav",{name}) %>

  <%- include("./partials/Script") %>
</body>
</html>